# Old stuff
old_everything/

# Data
data/FashionMNIST/
data/MNIST/

# Logs
logs/

# Runs
runs/
runs_arch_sweep/
results/

# Checkpoints
*.pt
*.pth
*.ckpt
checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]